.DS_Store
*.scssc
docs/.jekyll-metadata
**/_site/*
*.lock
**/.stack-work/*
Gemfile.lock
*sync-conflict*

tutorials/build
.obsidian

*.aux
*.log
*.out
*.bbl
*.blg
*.fls
*.pdfsync
*.synctex.gz
*.fdb_latexmk

*.pdf

**/aux/*
**/out/*
.latexmkrc
